<div class="row mt-4" style="text-align:center">
    <div class="elementor-widget-container">
        <h1 class="elementor-heading-title elementor-size-default">Bize Ulaşın</h1>
        <h2 class="elementor-heading-title elementor-size-default">İstek ve Önerileriniz</h2>
        <div class="elementor-widget-container">
            <p>
                İstek ve önerileriniz bizim için çok değerli.
                <br />İlgilendiğiniz konuyla ilgili bize mail atabilirsiniz.
            </p>
            <p>EMAIL : yuksekates@gmail.com</p>
        </div>
    </div>
</div>
